<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>我的账户</title>
    <style>
        body {
            background-color: #f5f5f5;
        }

        .table-container {
            margin-top: 30px;
        }

        .btn-group .btn {
            margin-right: 5px; /* 右侧间隔 */
        }
        .break-word {
            word-wrap: break-word;
            max-width: 8ch;
        }

    </style>
</head>
<body>
<!-- Recharge Modal -->
<div class="modal fade" id="rechargeModal" tabindex="-1" role="dialog" aria-labelledby="rechargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rechargeModalLabel">充值选择</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" data-price="1.9" data-tokens="2000">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                        1.9元
                        <hr>
                        2000 tokens
                    </label>
                    <label class="btn btn-secondary" data-price="19.9" data-tokens="10000">
                        <input type="radio" name="options" id="option2" autocomplete="off">
                        9.9元
                        <hr>
                        10000 tokens
                    </label>
                    <label class="btn btn-secondary" data-price="59.9" data-tokens="20000">
                        <input type="radio" name="options" id="option3" autocomplete="off">
                        19.9元
                        <hr>
                        20000 tokens
                    </label>
                    <label class="btn btn-secondary" data-price="79.9" data-tokens="30000">
                        <input type="radio" name="options" id="option4" autocomplete="off">
                        29.9元
                        <hr>
                        30000 tokens
                    </label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">立即支付</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">我的账户</a>
    <span class="navbar-text">
            <img src="{{ headimgurl }}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
            {{ nickname }}
        </span>
</nav>

<div class="container table-container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">名称：{{ nickname }}</h5>
            <p class="card-text">余额：{{ user_balance }}</p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#rechargeModal">充值</a>
            <!-- Button trigger modal -->
            <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">计费规则</a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">计费规则</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table>
                                <tr>
                                    <td>文本对话：</td>
                                    <td>0.2 RMB = 1000 token</td>
                                </tr>
                                <tr>
                                    <td>AI绘图：</td>
                                    <td>0.6 RMB = 3000 token</td>
                                </tr>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr class="my-4"> <!-- 添加分割线，并设置上下边距为 4 个单位 -->

<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <h5 class="card-title">充值记录：</h5>
            <th scope="col">订单号</th>
            <th scope="col">充值时间</th>
            <th scope="col">充值Tokens</th>
            <th scope="col">充值金额</th>
        </tr>
        </thead>
        <tbody>
        {% if recharge_records %}
            {% for recharge_record in recharge_records %}
                <tr>
                <td class="break-word">{{ recharge_record.order_id }}</td>
                <td>{{ recharge_record.recharge_time }}</td>
                <td>{{ recharge_record.recharge_tokens }}</td>
                <td>{{ recharge_record.recharge_amount }}</td>
            </tr>
            {% endfor %}
            {% else %}
        <tr>
            <td colspan="4">没有找到充值记录。</td>
        </tr>
        {% endif %}
        <!-- 充值记录数据 -->
        </tbody>
    </table>
    </div>
    <hr class="my-4"> <!-- 添加分割线，并设置上下边距为 4 个单位 -->

    <table class="table mt-4">
        <thead class="thead-light">
        <tr>
            <h5 class="card-title">使用记录：</h5>
            <th scope="col">使用时间</th>
            <th scope="col">类型</th>
            <th scope="col">底层模型</th>
            <th scope="col">Token消耗</th>
        </tr>
        </thead>

        <tbody>
        {% if records %}
        {% for record in records %}
            <tr>
                <td>{{ record.usage_time }}</td>
                <td>{{ record.type }}</td>
                <td>{{ record.model }}</td>
                <td>{{ record.token_length }}</td>
            </tr>
        {% endfor %}
         {% else %}
        <tr>
            <td colspan="4">没有找到充值记录数据。</td>
        </tr>
          {% endif %}
         <!-- 充值记录数据 -->
        </tbody>

    </table>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const payButton = document.querySelector('.btn-primary');
    payButton.addEventListener('click', function () {
        const selectedOption = document.querySelector('.btn-group-toggle input:checked').parentElement;
        const price = selectedOption.dataset.price;
        const tokens = selectedOption.dataset.tokens;
        // 发送请求到服务器
        fetch('/api/pay', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                price: price,
                tokens: tokens
            }) // 将 price 和 tokens 的值作为 JSON 数据发送
        }).then(response => response.json())
          .then(data => {
            const url = data.url;
            window.location.href = url;  // 跳转到支付URL
            })
          .catch(error => console.error('Error:', error));
    });
});
</script>
</html>

